.javascript-skill{
  height:10px;
  width: 150px;
  background-color: black
  }
 .react-skill {
  height:10px;
  width: 100px;
  background-color: black
  }
 .css-skill {
  height:10px;
  width: 120px;
  background-color: black
 }
 .html-skill {
  height:10px;
  width: 120px;
  background-color: black
 }