
 .about{
  position: relative;
   height: 95vh;
   background-color: #0B0B0B
 }
 .skill-row{
   position: absolute;
   bottom: 10px;
   width: 100%;
   
 }
 skill-row-right{
  position: relative
 }
 .javascript-skill{
   padding: 15px 15px 8px 15px;
 }
 .javascript-skill > h4{
   color: white;
 }
 .adobesuite-skill{
  padding: 15px 15px 15px 15px;
  text-align: right;
}
.adobesuite-skill > h4{
  color: white;
}
 .react-skill{
  padding: 15px 15px 8px 15px;
}
.react-skill > h4{
  color: white;
}
.css-skill{
  padding: 15px 15px 8px 15px;
}
.css-skill > h4{
  color: white;
}
.python-skill{
  padding: 15px 15px 8px 15px;
}
.python-skill > h4{
  color: white;
}
 .javascript-status-bar{
   background-color: white;
   height:1rem;
   width: 75%;
 }
 .logical-skill{
  padding: 15px 15px 15px 15px;
  text-align: right;
 }
 .logical-skill > h4{
  color: white;
 }
 .logical-status-bar{
  background-color: white;
  height:1rem;
  width: 75%;
  position: absolute;
  right:0;
 }
 .sketch-skill{
  padding: 15px 15px 15px 15px;
  text-align: right;
 }
 .sketch-skill > h4{
  color: white;
 }
 .sketch-status-bar{
  background-color: white;
  height:1rem;
  width: 60%;
  position: absolute;
  right:0;
 }
 .react-status-bar{
  background-color: white;
  height:1rem;
  width:60% ;
}
.css-status-bar{
  background-color: white;
  height:1rem;
  width:75% ;
}
.python-status-bar{
  background-color: white;
  height:1rem;
  width: 40%;
}
.adobesuite-status-bar{
  background-color: white;
  height:1rem;
  width: 75%;
  position: absolute;
  right:0;
}
.bio-row{
  position: absolute;
  padding:15px;
  bottom: 42.5%;
  width:100%;
  margin-left: 0;
}
.bio-col{
  color:rgba(255, 255, 255, 0.798)
}
.icon-row{
  margin:0 !important;
  display: flex;
  width:100%;
  justify-content: space-between;
  top: 26%;
}
.icon-left{
  padding-left: 30px;
}
.icon-right{
  padding-right: 30px;
}
.javascript-status-row{
  padding: 0;
}
.python-status-row{
  padding: 0 0 0 15px;
}
.react-status-row{
  padding: 0;
}
.css-status-row{
  padding: 0;
}
.mobile-icon-box{
  display: none ;
}
 @media only screen and (max-width:600px){
  .about{
    height: 80vh;
  }
  .bio-col{
    padding-left: 0 !important;
  }
  .bio-row{
    top:10vh;
    padding: 0 15px 0 15px !important;
  }
  .icon-row{
    top:0
  }
  .mobile-icon-box{
    height: 40vh;
    display: flex; 
    justify-content: space-between;
    align-items: center
  }
  .button-row-git{
    position: absolute;
    top:0;
    right:22%
  }
  .button-row-email{
    position: absolute;
    top:50%;
    right:22%
  }
  .button-row-dribble{
    position: absolute;
    bottom:0;
    right:22%
  }
 }