*{
  margin:0;
  padding:0;
  overflow-x: hidden
}

 .icons{
   
  color:black;
  margin-left:45px;
  margin-right:45px;
  margin-bottom: 10px;
  font-size:20px;
  cursor: pointer;
 }
 .icons:hover{
  font-size:22px;
  color:rgb(62, 62, 62);
 }
 